header picture img {
    width: 100%;
    filter: drop-shadow(5px 5px 9px #000a);
}

header picture img:hover {
    animation: dance 1s infinite;
}

@keyframes dance {
    0% {
        transform: translate(1px,1px) rotate(0deg) ;
        filter: drop-shadow(0px 0px 13px #000a);
    }
    10% {
        transform: translate(-1px,2px) rotate(-1deg) ;
        filter: drop-shadow(0px 0px 13px #000a);
    }
    20% {
        transform: translate(0px,1px) rotate(1deg) ;
        filter: drop-shadow(-5px -5px 3px #000a);
    }
    30% {
        transform: translate(2px,1px) rotate(0deg) ;
        filter: drop-shadow(0px 0px 13px #000a);
    }
    40% {
        transform: translate(-3px,2px) rotate(-1deg) ;
        filter: drop-shadow(5px 5px 9px #000a);
    }
    50% {
        transform: translate(0px,-2px) rotate(1deg) ;
        filter: drop-shadow(0px 0px 13px #000a);
    }
    60% {
        transform: translate(0px,3px) rotate(0deg) ;
        filter: drop-shadow(-5px -5px 13px #000a);
    }
    70% {
        transform: translate(1px,-2px) rotate(-1deg) ;
        filter: drop-shadow(0px 0px 13px #000a);
    }
    80% {
        transform: translate(3px,-1px) rotate(1deg) ;
        filter: drop-shadow(5px 5px 13px #000a);
    }
    90% {
        transform: translate(1px,1px) rotate(0deg) ;
        filter: drop-shadow(0px 0px 13px #000a);
    }
    100% {
        transform: translate(-1px,2px) rotate(-1deg) ;
        filter: drop-shadow(-5px -5px 13px #000a);
    }
}